<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#{{ include.swift-id }}" data-toggle="tab">Swift</a></li>
  <li role="presentation"><a href="#{{ include.objc-id }}" data-toggle="tab">Obj-C</a></li>
</ul>

<div class="tab-content">
  <div id="{{ include.swift-id }}" class="tab-pane fade in active">
  	{% highlight swift %}{{ include.swift-content }}{% endhighlight %}
  </div>
  <div id="{{ include.objc-id }}" class="tab-pane fade">
    {% highlight objective-c %}{{ include.objc-content }}{% endhighlight %}
  </div>
</div>