{% if page.sidebar == "home_sidebar" %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}

{% elsif page.sidebar == "cms_sidebar" %}
{% assign sidebar = site.data.sidebars.cms_sidebar.entries %}

{% elsif page.sidebar == "android_sidebar" %}
{% assign sidebar = site.data.sidebars.android_sidebar.entries %}

{% elsif page.sidebar == "ios_sidebar" %}
{% assign sidebar = site.data.sidebars.ios_sidebar.entries %}

{% else %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}
{% endif %}



{% comment %}
sidebar configuration for print files
{% endcomment %}

{% if site.product == "cms" %}
{% assign sidebar_pdf = site.data.sidebars.cms_sidebar.entries %}
{% endif %}

{% if site.product == "android" %}
{% assign sidebar_pdf = site.data.sidebars.android_sidebar.entries %}
{% endif %}

{% if site.product == "ios" %}
{% assign sidebar_pdf = site.data.sidebars.ios_sidebar.entries %}
{% endif %}
