<!DOCTYPE html>
<head>
    {% include head.html %}
    
    <link rel="stylesheet" href="css/highlight/default.css">
    <script src="js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <script>
        $(document).ready ( function(){
          if(document.location.href.indexOf('fromCms=true') === -1){
            $('body').css('padding-top', '50px');
            $('nav').removeClass('hidden');
            $('#sidebar').removeClass('hidden');
            $('#content-column').addClass('col-md-9');
            $('#content-column').removeClass('col-md-12');
            $('.footer').css('text-align', 'right');
          }
        });
    </script>

    {% if page.datatable == true %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function(){

            $('table.datatable').DataTable( {
                        paging: false,
                        stateSave: true
                    }
            );
    </script>
    {% endif %}

</head>
<body>
{% include topnav.html %}
<!-- Page Content -->
<div class="container">
    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div id="sidebar" class="col-md-3 hidden">

          {% include sidebar.html %}
    <!-- Content Column -->
    <div id="content-column" class="col-md-12">
        {{content}}
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
    </div>

</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
